<router-outlet>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

        </div>
        <div class="navbar-end">
            <a class="navbar-item" id="titulo">
                MYSELF
            </a>

            <a class="navbar-item">
                <button (click)="redirigir()"> </button>KNOWLEDGE
            </a>
        </div>
    </nav>
    <div style="padding-top: 20px;background-color: #131313;">
        <div class="columns">
            <div class="column is-three-fifths" id="textoinicio">
                <p style="padding-left: 100px;">
                    Hi<br>
                    I'm <strong id="Nombre">Adolfo</strong>,<br>
                    web developer<br>
                    It support.
                </p>
            </div>
            <div class="column is-two-fifths image-wrapper" id="textoinicio" style="margin-right: 20px;">
                <img class="" width="500" height="500" src="https://i.ibb.co/27SQZ3R/Imagen-de-Whats-App-2024-06-16-a-las-02-28-31-3df0c8c8-removebg-preview.png" alt="">
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="Footer1">
        <svg style="background-color: #131313;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#FF0066" fill-opacity="1"
                d="M0,96L0,256L72,256L72,224L144,224L144,288L216,288L216,128L288,128L288,160L360,160L360,224L432,224L432,0L504,0L504,0L576,0L576,96L648,96L648,256L720,256L720,96L792,96L792,128L864,128L864,160L936,160L936,64L1008,64L1008,256L1080,256L1080,224L1152,224L1152,160L1224,160L1224,192L1296,192L1296,64L1368,64L1368,64L1440,64L1440,320L1368,320L1368,320L1296,320L1296,320L1224,320L1224,320L1152,320L1152,320L1080,320L1080,320L1008,320L1008,320L936,320L936,320L864,320L864,320L792,320L792,320L720,320L720,320L648,320L648,320L576,320L576,320L504,320L504,320L432,320L432,320L360,320L360,320L288,320L288,320L216,320L216,320L144,320L144,320L72,320L72,320L0,320L0,320Z">
            </path>
        </svg>
        <div class="a" id="contenido-footer">
            <p style="text-align: center;color: #ffffff;font-size: 80px;font-weight: bold;">MY PROFILE!!</p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="columns" style="padding-left: 30px;padding-right: 30px;">
                <div class="column is-one-thirds"
                    style="color: #ef1db3;border: solid 1px #fff;border-radius: 10px;background-color: #fff;">
                    <h1>TECHNICAL SKILLS AND TECHNOLOGIES</h1>
                    <br>
                    <li>SQL SERVER</li>
                    <li>CSS</li>
                    <li>HTML</li>
                    <li>JAVA SCRIPT</li>
                    <li>PHP</li>
                    <li>MYSQL</li>
                    <li>HIKCENTRAL ACCESS CONTROL</li>
                    <li>ZKTECO BIO TIME PRO</li>
                    <li>HIKCENTRAL ACCESS PROFESSIONAL</li>
                    <li>CAMS HIKVISION</li>
                    <li>NETWORKS</li>
                    <li>WIRED STRUCTURED</li>
                </div>
                <div class="column is-one-thirds" style="color: white;">
                    <h1>LANGUAGES</h1>
                    <br>
                    <li>SPANISH(NATIVE)</li>
                    <li>ENGLISH(B1 CERTIFICATED)</li>
                </div>
                <div class="column is-one-thirds"
                    style="color: #ef1db3;border: solid 1px #fff;border-radius: 10px;background-color: #fff;">
                    <h1>CONTACT ME</h1>
                    <br>
                    <strong style="color: #ef1db3;">NUMBER PHONE</strong>
                    <p>+502 36356436</p>
                    <br>
                    <strong style="color: #ef1db3;">EMAIL</strong>
                    <p>"aldanachigna.com"</p>
                    <br>
                   
                    <strong style="color: #ef1db3;">ADDRESS</strong>
                    <p>13 avenida A 15-30 Prados del tabacal 2 Zona 5 Villa</p>
                    <br>
                    <div class="botones" style="display: flex;justify-content: center;">
                    <a href="#"><button class="button is-dark" style="width: 100px;">Whatsapp</button></a>
                    <a href="#"><button class="button is-dark" style="width: 100px;margin-left: 10px;">LikedIn</button></a>                    
                    <a href="#"><button class="button is-dark" style="width: 100px;margin-left: 10px;">Facebook</button></a>                    
                    <a href="#"><button class="button is-dark" style="width: 100px;margin-left: 10px;">Instagram</button></a>
                    </div>
                    
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="columns" style="padding-left: 30px;padding-right: 30px;">
                <div class="column is-one-thirds" style="color: white;">
                    <h1>SOFT SKILLS</h1>
                    <br>
                    <li>WORK IN GROUP</li>
                    <li>PUNCTUAL</li>
                    <li>RESPECTFUL</li>
                    <li>KIND</li>
                    <li>QUICK LEARNER</li>
                    <li>LOYAL</li>
                    <li>HONEST</li>
                    <li>EMPATHIC</li>
                    <li>RESEARCH</li>
                    <li>AMBITIOUS</li>
                </div>
                <div class="column is-one-thirds"
                    style="color: #ef1db3;border: solid 1px #fff;border-radius: 10px;background-color: #fff;">
                    <h1>GOALS IM WORKING ON</h1>
                    <br>
                    <li>GRADUATE FROM UNIVERSITY</li>
                    <li>IMPROVE MY ENGLISH LEVEL</li>
                    <li>TRAVEL TO ANOTHER COUNTRY</li>
                    <li>LEARN MORE PROGRAMMING LANGUAGES</li>
                    
                </div>
                
                <div class="column is-one-thirds" style="color: white;">
                    <h1>INTERESTS</h1>
                    <br>
                    <li>COOKING</li>
                    <li>DRAWING</li>
                    <li>BASQUETBALL</li>
                    <li>VIDEOGAMES</li>
                    <li>DOGS AND CATS</li>
                    <li>GAMING</li>
                    <li>TECHNOLOGIES</li>
                </div>
            </div>
        </div>

    </div>
</router-outlet>